* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-family: Roboto;
}

.container {
	display: grid;
	justify-content: center;
	align-content: center;
	height: 100vh;
	background-color: #f3f3fb;
}

form {
	width: 500px;
	padding-top: 3rem;
	border-radius: 10px;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 22px -9px rgba(164, 170, 189, 0.65);
	-moz-box-shadow: 0px 0px 22px -9px rgba(164, 170, 189, 0.65);
	box-shadow: 0px 0px 22px -9px rgba(164, 170, 189, 0.65);
}

ul.questions {
	list-style: none;
	padding-top: 1rem;
	padding-bottom: 3rem;
	padding-left: 4rem;
}

.title {
	font-size: 1.5rem;
	text-align: center;
	padding-bottom: 0.5rem;
	font-weight: normal;
}

.subtitle {
	font-size: 0.8rem;
	text-align: center;
	color: #a4aabd;
}

input[type="submit"] {
	width: 100%;
	padding: 1.5rem;
	border: none;
	background-color: #4370e7;
	color: #f3f3fb;
	letter-spacing: 1px;
	border: 0 5px 5px 0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.question {
	padding: 0.5rem;
}

label {
	padding-left: 2px;
}

input[type="radio"] {
}
